<!DOCTYPE html>
<head>
    <title>CSS 선택자 1</title>
    <style>
        /*모든 요소 선택자*/
        /* *{color:navy;} */

        /* 태그 선택자 */
        p{color: lightcoral;}

        /* 클래스 선택자 */
        .classA{background: hotpink;}
        .classB{background: khaki;}

        /* 아이디 선택자 */
        #tester1{background: olivedrab; color: honeydew;}
        #tester2{background: gray; color: lightyellow;}

    </style>
</head>
<body>
    <h1>CSS 기본 선택자1</h1>
    <p>
        선택자란 <br>
        원하는 태그를 선택하여 스타일을 적용하고자 할 때 사용하는 표기 방식.
    </p>    

    <hr>

    <h2>모든 요소 선택자</h2>
    <p>HTML 웹 문서 안의 모든 요소를 선택한다.</p>
    <ul>
        <li>테스트1</li>
        <li>테스트2</li>
        <li>테스트3</li>
    </ul>

    <hr>
    
    <h2>태그 선택자</h2>
    <p>
        HTML 문서 안의 똑같은 태그들끼리 같은 스타일을 적용할 때 사용.
    </p>

    <hr>

    <h2>클래스 선택자</h2>
    <P>
        HTML 문서의 특정 그룹을 만들어 스타일을 적용하는 방법
    </P>
    <ul>
        <li class="classA">김도현 테스터</li>
        <li class="classB">한서영 테스터</li>
        <li class="classB">심지혜 테스터</li>
        <li class="classB">이재성 테스터</li>
        <li class="classA">김태욱 테스터</li>
    </ul>

    <hr>

    <h2>id 선택자</h2>
    <p>HTML 안의 단 하나씩 존재하는 아이디 속성으로 선택하는 방법</p>

    <ol>
        <li id="tester1">테스터2</li>
        <li id="tester2">테스터2</li>
        <li id="tester3">테스터3</li>
        <li id="tester4">테스터4</li>
        <li id="tester5">테스터5</li>
    </ol>

    <br>
    <br>
    <a href="index.HTML">홈으로</a>
</body>
</html>