<!DOCTYPE html>
<html>
    <head>
        <title>여백 관련 스타일</title>

        <style>
            .div-common {
                width: 100px;
                height: 100px;
                background: sandybrown;
            }
            .test1 {
                margin: 50px;
            }
            .test2 {
                margin-top: 50px;
                margin-left: 100px;
            }
            .test3 {
                padding: 50px;
            }
            .test4 {
                padding-top: 50px;
                padding-left: 100px;
            }
        </style>
    </head>
    <body>
        <h1>여백 관련 스타일</h1>
        <pre>
            margin : 바깥 여백
            padding : 안쪽 여백
        </pre>

        <h3>기본 div</h3>
        <div class="div-common">기본 div</div>
        
        <h3>margin : 각 태그 간 바깥 여백을 표현하는 속성</h3>
        <p>margin : 50px;</p>
        <div class="div-common test1">[컨탠츠 영역] : 홈런볼</div>

        <h3>margin-top : 50px; &amp; margin-left : 100px </h3>
        <div class="div-common test2">[컨탠츠 영역] : 포카칩</div>

        <h3>padding : 테두리 기준으로 안쪽 여백을 만드는 속성</h3>
        <p>padding : 50px</p>
        <div class="div-common test3">[컨탠츠 영역] : 꼬북칩</div>

        <p>padding-top : 50px; &amp; padding-left : 100px;</p>
        <div class="div-common test4">[컨탠츠 영역] : 마가렛트</div>


        <br><br>
        <a href="index.HTML">홈으로</a>
    </body>
</html>