<!DOCTYPE html>
<html>
    <head>
        <title>폴라로이드 사진 만들기</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/polaroid.css">

        <!--
            외부 스타일 설정을 참조할 경우 link 태그를 사용하여
            스타일을 외부에서 가져올 수 있다.
            단, 여러 스타일을 외부에서 참조할 경우 
            선언 순서에 따라 스타일이 적용되기 때문에 
            반드시 우선순위를 확인하여 필요한 순서를 정해야 한다.
            
        -->
    </head>
    <body>
        <h1>폴라로이드 사진 만들기</h1>

        <hr>

        <div class="polaroid rotate">
            <img src="../resources/image/강사님.jpeg" alt="강사님">
            <p class="caption">행복한 강사님...</p>
        </div>

        <br><br><br><br><br><br><br><br><br><br>
        <a href="index.html">홈으로</a>
    </body>
</html>