<!DOCTYPE html>
<html>
    <head>
        <title>갤러리 만들기</title>
        <link rel="stylesheet" href="../resources/css/gallery.css">
    </head>
    <body>
        <h1>갤러리 만들기</h1>

        <hr>

        <div id="gallery">
            <ul>
                <li><img src="../resources/image/flower1.PNG" alt="꽃1" class="small"><img src="../resources/image/flower1.PNG" alt="꽃1" class="pic"></li>
                <li><img src="../resources/image/슬기.jpg" alt="슬기" class="small"><img src="../resources/image/슬기.jpg" alt="슬기" class="pic"></li>
                <li><img src="../resources/image/강사님.jpeg" alt="강사님" class="small"><img src="../resources/image/강사님.jpeg" alt="강사님" class="pic"></li>
                <li><img src="../resources/image/김고은.jpg" alt="김고은" class="small"><img src="../resources/image/김고은.jpg" alt="김고은" class="pic"></li>
                <li><img src="../resources/image/박소담.jpg" alt="박소담" class="small"><img src="../resources/image/박소담.jpg" alt="박소담" class="pic"></li>
                <li><img src="../resources/image/아이유.jpg" alt="아이유" class="small"><img src="../resources/image/아이유.jpg" alt="아이유" class="pic"></li>
            </ul>
        </div>

        <br><br>
        <a href="index.HTML">홈으로</a>
    </body>
</html>