<!DOCTYPE html>
<html>
    <head>
        <title>메뉴판 만들기</title>
        <link rel="stylesheet" href="../resources/css/navi.css">
    </head>
    <body>
        <h1>메뉴판 만들기</h1>

        <nav>
            <ul class="navi">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">음식소개</a>
                    <ul>
                        <li><a href="#">한식</a></li>
                        <li><a href="#">양식</a></li>
                        <li><a href="#">일식</a></li>
                        <li><a href="#">중식</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">게시판</a>
                    <ul>
                        <li><a href="#">마음의 소리</a></li>
                        <li><a href="#">방명록</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>        

        <br><br>
        <a href="index.HTML">홈으로</a>
    </body>
</html>