<!DOCTYPE html>
<html>
    <head>
        <title>아코디언 메뉴 만들기</title>
        <link rel="stylesheet" href="../resources/css/accordion.css">
    </head>
    <body>
        <h1>아코디언 메뉴 만들기</h1>

        <div class="accordionMenu">
            <h3>자주하는 질문</h3>

            <div id="first" class="menuSection">
                <h2><a href="#first">국이 너무 짜요!</a></h2>
                <p>
                    짜면 물을 더 타드시면 됩니다.
                </p>
            </div>
            <div id="second" class="menuSection">
                <h2><a href="#second">알바가 불 친절해요!</a></h2>
                <p>
                    앞으로는 물친절하게 손님을 대하겠습니다.
                </p>
            </div>
            <div id="third" class="menuSection">
                <h2><a href="#third">알바가 일안하고 술마셔요</a></h2>
                <p>
                    앞으로는 적당히 마시겠습니다.
                </p>
            </div>

        </div>

        <br><br>
        <a href="index.HTML">홈으로</a>
    </body>
</html>