<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>1_글자 관련 태그</title>
</head>
<body>
    <!-- 글자 관련 태그들 -->
    <!-- HeadLine 태그 -->
    <!-- 웹 페이지(문서) 에서 보여줄 내용의 제목을 표현하는 태그 -->
    <!-- h[숫자] : 숫자가 작을 수록 큰 모양이 된다. ex) h1, h2 ... -->
    <h1>h1 태그 입니다. : 1111</h1>
    <h2>h2 태그 입니다. : 2222</h2>
    <h3>h3 태그 입니다. : 3333</h3>
    <h4>h4 태그 입니다. : 4444</h4>
    <h5>h5 태그 입니다. : 5555</h5>
    <h6>h6 태그 입니다. : 6666</h6>

    <br> <!-- 줄바꿈 태그 : 단일 태그 -->

    <!-- 글자의 단락을 구분짓는 태그 (한 문단을 표시) -->
    <h3>제목을 구분짓는 태그 입니다.</h3>
    <p>첫 번째 단락입니다.</p>
    <p>두 번째 단락입니다.</p>
    단락 구분이 없는 내용입니다.
    단락 구분이 없는 내용입니다.

    <hr><!-- 줄 바꿈과 경계선을 만들어 주는 태그 -->

    <h3>문단을 나누는 태그</h3>
    <p>
        문단을 나누는 태그는 p, pre 가 있다.
        p태그는 문단 영역을 나눌 때 공백이 있다면       한개만 표시한다.
        그리고 줄 바꿈 시       별도의 태그가 필요하다.
    </p>

    <pre><!-- 웹브라우저의 기본 폰트와 사이즈를 사용한다. -->
        pre 태그는 여러 칸 뜨위기,          줄 바꿈 내용을 
        실제 코드 내용 그대로 보여주는 테그
    </pre>

    <hr>

    <!-- 기타 글자 관련 태그들 -->
    <h3>그 밖의 글자 관련 태그들</h3>
    일반 글꼴<br>
    <strong>굵은 글자</strong>를 표현하기 <br>
    <b>굵은 글자</b>를 표현하기2 <br>
    글자 <i>기울이기</i> <br>
    
    <blockquote cite="라인어"> <!-- cite 부분은 스크린 리더로 읽을 때 사용 -->
        Memento Mori
    </blockquote><!-- blockquoto는 띄어쓰기와 br 을 자동으로 해줌 -->
    
    <q><!-- ""을 자동으로 해줌 -->
        Memento Mori
    </q>

    <br>

    <mark>형광팬 효과를 나타내는 태그</mark><br>
   
    <u>글자에 밑줄 긋는 태그</u><br>

    <s>글자에 취소선 긋는 태그</s><br>

    <small>글자를 기본 모양보다 작게 표현하는 태그</small><br>

    글자에 <sup>윗첨자</sup>, <sub>아랫첨자</sub> 를 표현할 수 있다.

    <hr>

    <!-- 글자 태그 활용하여 실습하기 -->
    <!-- 인터넷에서 원하는 시를 하나 찾아 글만 p태그 안에
         붙여 넣고, h3 태그로 제목을 표현하되, 
         mark, b, u, s, i 태그를 원하는 위치에 한 번 이상 사용하여 화면에 표현 하시오.
    -->

    <h3><i>Eloisa to Abelard by Alexander Pope </i></h3>
    <p>
            How happy is the blameless vestal's lot!    <br>
            The world forgetting, by the world forgot.  <br>
            <mark><u><b>Eternal sunshine</b></u></mark> of the spotless mind! <br>
            Each pray'r accepted, and each wish resign'd.   <br>
    </p>

    <!-- Hyper Text REFerence -->
    <a href="index.html">
        홈으로 돌아가기
    </a>

</body>
</html>
