<!DOCTYPE html>
<html lang="ko">
<head>
    <title>목록 관련 태그</title>
</head>
<body>
    <!-- ul : 순서가 없는 목록 -->
    <h1>순서가 없는 목록</h1>
    <h3>화면 구현 수업 내용들</h3>

    <ul>
        <li>html5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>jQuery</li>
    </ul>
    <p>앞에 붙는 기호를 bullet(총알) 기호라고 한다.</p>

    <hr>

    <h1>순서가 있는 목록</h1>
    <h3>이전에 배웠던 과목들</h3>
    <ol>
        <li>응용SW가초</li>
        <li>Java</li>
        <li>Oracle</li>
        <li>JDBC</li>
        <li>ERD</li>
        <li>UML</li>
    </ol>

    <p>순서가 있는 목록은 기본 시작 번호가 1부터 이며, <br>
        type 속성을 통해 표기할 번호를 바꿀 수 있다.</p>
    
    <h3>속성 변경 연습</h3>
    <h3>취미 리스트</h3>
    <ol type="A">
        <li>당구</li>
        <li>그림그리기</li>
        <li>산책</li>
        <li>농구</li>
        <li>Java</li>
    </ol>

    <h3>버킷 리스트</h3>
    <ol type="a">
        <li>집 개조하기</li>
        <li>고양이 2마리 키우기</li>
        <li>세계일주</li>
        <li>건물주</li>
        <li>오로라 보기</li>
    </ol>

    <h3>인생에서 가장 기억에 남는 순간</h3>
    <ol type="I">
        <li>하하하하하</li>
        <li>군대에 있을 때</li>
        <li>아이가 태어났을 때</li>
        <li>선물받을 때</li>
        <li>입실 실패</li>
    </ol>

    <hr>
    
    <h1>설명 기록 전용 태그</h1>
    <h3>설명 제목</h3>
    <dl>
        <dt>설명 글의 제목</dt>
        <dd>설명 글의 내용</dd>
        <dt>또다른 설명 글의 제목</dt>
        <dd>또다른 설명 글의 내용</dd>
    </dl>

    <a href="index.html">
            홈으로 돌아가기
        </a>
</body>
</html>