<!DOCTYPE html>
<html>
    <head>
        <title>자바 스크립트 개요</title>
        <script src="../resources/js/first.js"></script>
    </head>
    <body>
        <h1>자바 스크립트 개요</h1>

        <dl>
            <dt>스크립트 언어란?</dt>
            <dd>
                사용자의 요구사항에 맞게 수행 코드를 간결하게 구현할 수 있는 언어. <br>
                개발자가 매우 빠르고 쉽게 배울 수 있으며, 짧은 코드로 내용이 구현되기 때문에 생산성도 높다.
            </dd>
        </dl>
        <dl>
            <dt>자바 스크립트란?</dt>
            <dd>웹 브라우저에서 가장 많이 사용하는 인터프리터 방식의 객체 지향언어 <br>
            ECMA 스크립트 표준을 따르며 오늘날 웹 구현 스크립트 언어의 대표로 자리잡고 있다.</dd>
        </dl>
        <dl>
            <dt>사용 방법</dt>
            <dd>
                <ol>
                    <li>inline 방식 : 태그 안에 직접 작성하는 방법(간단한 소스코드 사용시)</li>
                    <li>internal 방식 : script 태그를 별도로 선언하고 그 안에 소스코드를 작성하는 방법</li>
                    <li>extetnal 방식 : 외부의 .js 파일을 가져와 현재 웹 문서에 등록하는 방식</li>
                </ol>
            </dd>
        </dl>
        
        <dl>
            <dt>자바 스크립트 작성 시 주의할 점</dt>
            <dd>
                자바스크립트에서의 소스코드는 함수 단위로 작성하고, 이벤트 속성을 사용해 실행한다. <br>
                이벤트는 각 태그마다 지원하는 차이가 있다. <br>
                일반적인 실행 방식은 on이벤트명 = '실행할 함수명([전달인자]);'
            </dd>
        </dl>

        <hr>

        <h2>태그에 직접 스크립트 작성하기(inline)</h2>
        <button onclick="alert('클릭!!!!')">클릭1</button>

        <h2>script 태그에 소스코드를 적어 실행하기(internal)</h2>
        <button onclick="clickMe();">클릭2</button>

        <script>
            // 주석 사용가능
            /* 여러줄 주석도 가능 */

            // 자바스크립트는 함수(메소드)를 작성할 때 반환 자료형을 붙이지 않는다.

            function clickMe(){
                alert("클릭!!!!")
            }
        </script>

        <h2>외부에 작성한 자바 스크립트 함수 실행하기(extetnal)</h2>
        <button onclick="sample();">클릭</button>

        <noscript>
            만약 웹 브라우저가 자바스크립트를 지원하지 않는다면 이 내용을 보여주게 된다.
            이 웹 브라우저는 자바 스크립트를 지원하지 않습니다.
            보다 정확한 내용을 보시려면 IE11버전, 크롬브라우저를 이용해주세요.
        </noscript>

        <br><br>
        <a href="../index.html">홈으로</a>
    </body>
</html>