<!DOCTYPE html>
<html>
    <head>
        <title>데이터 입출력</title>
        <script>
            // load 이벤트 : 웹 문서가 화면에 만들어진 뒤에 실행되는 이벤트
            /*
            function start(){
                alert("웹 문서가 로드되었습니다.");
            }
            */
        </script>
        <style>body{font-family: "나눔손글씨 펜";}
        #area1{
            width: 300px;
            height: 200px;
            border: 1px solid black;
        }
        #area2{
            width: 300px;
            height: 200px;
            border: 1px solid black;
        }
        #area3{
            width: 300px;
            height: 200px;
            border: 1px solid black;
        }
        </style>
    </head>
    <body onload="start();">
        <h1>데이터 입출력</h1>
        <!--
            <script>
                alert("실행 확인");
                document.write("아이스크림 긔긔");    
            </script>
        -->

        <h3>innerHTML을 활용하여 요소의 내용 변경하기</h3>
        <div id="area1">
            자바 스크립트에서 태그 앨리먼트(요소)의 값을 읽어 오거나, 변경할 수 있다.
        </div>

        <br><br>
        <button onclick="changeValue();">innerHTML로 내용 바꾸기</button>

        <script>
            function changeValue(){
                // 자바였으면... int, char, String, double
                // js : var
                // 동적 바인딩 : 공간을 미리 할당하지 않고
                //            그때 그때 즉석으로 값을 저장하는 방법

                var divEL = document.getElementById('area1');
                // alert(divEL);
                divEL.innerHTML = "innerHTML 속성으로 내부 값을 변경하였습니다."
            }
        </script>

        <hr>
        
        <h3>console.log() 함수 사용하기</h3>
        <p>console.log()로 작성한 내용들을 개발자 도구로 확인할 수 있다. <br>
            개발자 도구 : 웹 문서의 내용을 소스코드 형태로 볼 수 있는 간이 개발 도구를 말한다 <br>
            이러한 개발도구를 활용하여 콘솔화면의 특정 값을 수정하거나 특정 로직을 디버깅할 때 사용할 수 있다.
        </p>

        <button onclick="printConsole();">console.log() 사용하기</button>
        <script>
            function printConsole(){
                console.log("콘솔 화면에 결과를 출력합니다!");
            }
        </script>
        
        <hr>

        <h3>confirm() 함수 사용하여 데이터 인렵하기</h3>
        <p>어떤 질문을 받았을 때 "예/아니오"라는 참 거짓의 결과를 얻기 위해 </p>
        <p>확인 버튼을 누르면 true, <br>
           취소 버튼을 누르면 false 결과를 반환한다.</p>

        <button onclick="research();">설문조사하기</button>

        <div id="area2"></div>

        <script>
            function research(){
                var result = window.confirm("내일은 소현씨가 웹툰을 볼까요?");
                
                // 개발자 도구 콘솔로 확인하기
                console.log("결과 : "+result);

                var str = "";

            if(result){
                str = "참 잘했어요!";
            } else {
                str = "좀 더 노력하세요";
            }
            
            console.log("응답확인 : " + str);

            var divEL2 = document.getElementById('area2')
            divEL2.innerHTML = str;
        }
        </script>

        <hr>

        <h3>window.prompt() 함수 사용하기</h3>
        <p>prompt는 input text 속성처럼 특정 내용을 입력받는 함수</p>

        <button onclick="testPrompt();">이름 입력기</button>

        <div id="area3"></div>

        <script>
            function testPrompt(){
                var result = window.prompt("당신의 이름은 무엇인가요?");
                
                var divEL3 = document.getElementById('area3');
                divEL3.innerHTML = result + "님, 환영합니다. <br>" + "하하하하하하!";
                
                // id는 해당문서의 하나이기 때문에 아래와 같이 사용가능 그러나 권장하지 않는다.
                // area3.innerHTML = result+"님!!! 아, 저번에 500원 가꿔가셨죠?";
            }
        </script>

        <br><br>
        <a href="../index.html">홈으로</a>
    </body>
</html>